.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
  fill: white;
  text-anchor: middle;
}

.boldText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: bold;
  text-length: 32;
  fill: white;
  text-anchor: middle;
}

.avvisoText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: bold;
  text-length: 32;
  fill: white;
  text-anchor: middle;
  
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}
